<template name='<%= template %>'>
  <h1><%= tableTitle %> <a id='new'>[+]</a></h1>
  <table>
    <tr>
      {{#each field in fields}}
        <th>{{field}}</th>
      {{/each}}
    </tr>
    {{#each <%= resource %>}}
      <tr id='row'>
        {{#each field in fields}}
          <td>{{valueFor this field}}</td>
        {{/each}}
      </tr>
    {{/each}}
  </table>
</template>
