<template name='<%= template %>'>
  <h1><%= tableTitle %> <a id='new'>[+]</a></h1>
  <table>
    <tr>
      {{#each field in fields}}
        <th>{{field}}</th>
      {{/each}}
      <th>Edit</th>
      <th>Remove</th>
    </tr>
    {{#each <%= resource %>}}
      <tr id='row'>
        {{#each field in fields}}
          <td>{{valueFor this field}}</td>
        {{/each}}
        <td id='edit'>[E]</td>
        <td id='delete'>[X]</td>
      </tr>
    {{/each}}
  </table>
</template>
