<template name='<%= template %>'>
  <h1><%= tableTitle %></h1>
  <table>
    <tr>
      {{#each field in fields}}
        <th>{{field}}</th>
      {{/each}}
    </tr>
    {{#each doc in <%= resource %>}}
      <tr>
        {{#each field in fields}}
          <td>{{valueFor doc field}}</td>
        {{/each}}
      </tr>
    {{/each}}
  </table>
</template>
