<template name='<%= template %>'>
  {{#autoForm id='new<%= collection %>' schema=Schemas.<%= collection %>}}
    {{#each afFieldNames}}
      {{> afQuickField name=this.name}}
    {{/each}}
    <div>
      <button type="submit">Submit</button>
    </div>
  {{/autoForm}}
</template>
