<template name='<%= template %>'>
  <h1><%= tableTitle %></h1>
  <table>
    <tr>
      {{#each field in fields}}
        <th>{{field}}</th>
      {{/each}}
    </tr>
    <tr>
      {{#each field in fields}}
        <td>{{valueFor <%= resource %> field}}</td>
      {{/each}}
    </tr>
  </table>
</template>
