<template name='<%= template %>'>
  <h1><%= tableTitle %></h1>

  <dl>
    {{#each field in fields}}
      <dt>{{field}}</dt>
      <dl>{{valueFor <%= resource %> field}}</dl>
    {{/each}}
  </dl>
</template>
