<template name="default">
  <header>
    <h1><%= appname %></h1>
  </header>

  <nav>
    <ul id='collections'>
    {{#each keysIn Collections}}
      <li>{{this}}</li>
    {{ /each }}
    </ul>
  </nav>

  <section>
    {{> Template.dynamic template=yield}}
  </section>

  <footer>
    Generated with <a href='https://github.com/aristeuroriz/cs-meteor'>CodeSlim Meteor</a>
  </footer>
</template>
