<template name="default">
  <header>
    <h1><%= appname %></h1>
  </header>

  <nav>
    {{#each collection in keysIn Collections}}
      {{collection}}
    {{ /each }}
  </nav>

  <section>
    {{> Template.dynamic template=yield}}
  </section>

  <footer>
    Generated with <a href='https://github.com/antoin-m/joker-meteor'>Joker</a>
  </footer>
</template>
